/* @import './base.css'; */
:root {
  --white-soft: #fbfaf5;
  --black-soft: #3F3F3F;
  --blue-dark:#1034a6;
  --blue-light:#3677ac;
  --head-height : 43px;
  --head-margin: 20px;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body,
p{
 margin : 0;
 padding : 0;
 color: var(--white-soft);
}

a,
.green {
  text-decoration: none;
  color: var(--white-soft);
  transition: 0.2s;
}
.bodyNoScroll{
  height: 100%;
  overflow: hidden;
}

ul{
  padding: 0;
  list-style: none;
}

.darlyIcon {
  width: 100px;
  height: var(--head-height);
}

@media (hover: hover) {
  a:hover {
    color: var(--blue-light)
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

@media  (max-width: 315px)  {
  h1,h2,h2{
    width: 200px;
  }
}
.nav__ul , .nav__background{
  width: 30vw;
  transition: transform 0.3s;
  transform: translateX(35vw);
}
@media  (max-width: 480px)  {
  .nav__ul , .nav__background{
    width: 100vw;
    transition: transform 0.3s;
    transform: translateX(105vw);
  }

  .footer__wrap{
    flex-wrap: wrap;
    justify-content : flex-start;
    gap: 30px;
    padding-left : 20px;
  }
}